<div class="dialog container">
  <div class="mask"></div>
  <div class="dialog-content">
    <div ng-switch="viewFlag">
      <div ng-switch-when="1">
        <div class="main-title">E棒棒充值</div>
        <div class="symbol"><span class="icon"></span></div>
        <div class="desc">E棒棒钱包充值服务</div>
        <div class="quota">
          <div class="q-title">充值金额</div>
          <div class="input-c"><span class="character">￥</span><input ng-model="amount" pattern="\d+"/></div>
        </div>
        <div class="caution">充值E棒棒钱包需要支付<span class="amount">{{amount | currencyCn}}</span></div>
        <div class="separator"></div>
        <div class="payment-mode">
          <div class="title">支付方式 : </div>
          <div class="payment-items">
            <div ng-repeat="mode in paymentMode">
              <div class="payment-item" ng-click="checkPaymentItem($index)">
                <div class="icon"></div>
                <div class="content">
                  <div class="name">{{mode.name}}</div>
                  <div class="comment">{{mode.comment}}</div>
                </div>
                <div class="checkbox" ng-click="checkPaymentItem($index)" ng-class="{true: 'checked', false: 'check'}[mode.checked]"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="oper">
          <a class="btn pay" ng-click="saveDialog(true)">确认支付</a>
          <a class="btn cancel" ng-click="cancelDialog()">取消</a>
        </div>
      </div>
      <div ng-switch-when="-1">
        <div class="main-title">E棒棒提现</div>
        <div class="symbol"><span class="icon"></span></div>
        <div class="desc">E棒棒钱包提现服务</div>
        <div class="quota">
          <div class="q-title">提现金额</div>
          <div class="input-c"><span class="character">￥</span><input ng-model="amount" pattern="\d+"/></div>
        </div>
        <div class="caution">E棒棒钱包将扣除<span class="amount">{{amount | currencyCn}}</span>进行提现</div>
        <div class="separator"></div>
        <div class="payment-mode">
          <div class="title">提现平台 : </div>
          <div class="payment-items">
            <div ng-repeat="mode in paymentMode">
              <div class="payment-item" ng-click="checkPaymentItem($index)">
                <div class="icon"></div>
                <div class="content">
                  <div class="name">{{mode.name}}</div>
                  <div class="comment">{{mode.comment}}</div>
                </div>
                <div class="checkbox" ng-click="checkPaymentItem($index)" ng-class="{true: 'checked', false: 'check'}[mode.checked]"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="oper">
          <a class="btn pay" ng-click="saveDialog(false)">确认提现</a>
          <a class="btn cancel" ng-click="cancelDialog()">取消</a>
        </div>
      </div>
    </div>
  </div>
</div>
