.look-main-page {
  .bb-content {
    padding: 0;
  }

  .main {
    position: relative;
    .head {
      width: 14.8rem;
      height: 11.6rem;
      position: absolute;
      top: 0;
      right: 0;
    }

    nav {
      position: absolute;
      bottom: 2rem;
      left: 0;
      width: 100%;
      text-align: center;
    }

    li {
      width: 2.3rem;
      height: 2.3rem;
      background: #e5e5e5;
      display: inline-block;
      border-radius: 2.3rem;
    }

    li:not(:first-child) {
      margin-left: 2.3rem;
    }
  }

  .row {
    margin-top: 12px;
    padding: 0 12px;
  }

  .col {
    display: inline-block;
    width: 49%;
  }

  img {
    width: 100%;
  }

  .row:last-child {
    margin-bottom: 12px;
  }
}
