<div class="as-register-page container">
  <bb-header title="E棒棒-注册棒棒"></bb-header>
  <div class="bb-content">
    <form name="asRegisterFrm">
      <div class="field">
        <div class="left">
          <div class="label">姓 :</div>
          <div class="input-c">
            <input ng-model="user.lastName" maxlength="20" placeholder="请填写真实姓名" required/>
          </div>
        </div>
        <div class="right">
          <div class="label">名 :</div>
          <div class="input-c">
            <input ng-model="user.firstName" maxlength="20" placeholder="请填写真实姓名" required/>
          </div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="separator"></div>
      <div class="field">
        <div class="label">手机号 :</div>
        <div class="input-c">
          <input ng-model="user.phone" maxlength="11" placeholder="请填写正确手机号，以方便通知到您" required/>
        </div>
      </div>
      <div class="separator"></div>
      <div class="field">
        <div class="label">身份证 :</div>
        <div class="input-c">
          <input ng-model="user.idNumber" maxlength="18" placeholder="填写正确的15或18位身份证号" required/>
        </div>
      </div>
      <div class="separator"></div>
      <div class="field">
        <div class="label">上传手持身份证的照片 : </div>
        <div class="input-c">
          <div class="demo">
            图例：请清晰照出身份证及身份证持有人。<br>
            <img src="{{user.photoData}}"/>
            <div class="hint">（当前支持的图片格式有：jpg，png，gif，jpeg）</div>
          </div>
          <div class="select-btn">
            <file-read file-data="user.photoData" file-model="user.photoUrl"></file-read>
            <span class="text">选择照片</span>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="field">
        <div class="label">选择服务区域</div>
        <div class="input-c">
          <div class="select-c row">
            <select ng-model="user.area" ng-options="area.name for area in areas">
              <option value="">选择区域</option>
            </select>
            <span class="arrow-down-sm"></span>
          </div>
          <div class="select-c row">
            <select ng-model="user.subArea" ng-options="subArea.name for subArea in subAreas">
              <option value="">选择区域</option>
            </select>
            <span class="arrow-down-sm"></span>
          </div>
        </div>
      </div>
      <div class="separator"></div>
      <div class="field">
        <div class="label" ng-class="{false: 'notAgreed', true: 'agreed'}[user.readedProtocol]" ng-click="agreeRegisterProtocol()">
          <span class="text">阅读《用户注册协议》</span>
        </div>
        <div class="input-c">
          <a ng-click="confirmRegister()">
            <div class="confirm">确认注册</div>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
