.as-my-orders-page {
  .bb-content {
    padding: 0;
    font-size: 5rem;
    color: #ff9000;
  }

  .tabs {
    border-bottom: 8px solid #959595;
  }

  .tab {
    outline: none;
    width: 32%;
    text-align: center;
    display: inline-block;
    padding: 3.5rem 0;
  }

  .tab:not(:last-child) {
    border-right: 4px solid #959595;
  }

  .active {
    font-weight: bolder;
  }

  .order-item {
    border-bottom: 5px solid #c8c8c8;
    padding: 4.2rem 0 4.2rem 0;
    position: relative;

    .theme {
      border-right: 3px solid #c8c8c8;
      position: absolute;
      top: 50%;
      left: 3.7rem;
      margin-top: -5.5rem;
      padding: 2rem 2.6rem 2rem 0;
      font-size: 5.833rem;
      font-weight: bold;
    }

    .detail {
      margin-left: 27.2rem;
      font-size: 3.595rem;
    }

    .link {
      margin-right: 32rem;
    }

    .date-title, .goods {
      color: #c8c8c8;
    }

    .date-text, .date-time {
      color: #fff;
    }

    .status{
      text-align: center;
      position: absolute;
      top: 50%;
      right: 5.5rem;

      .text {
        font-size: 5.833rem;
        font-weight: bold;
      }

      .oper, .dial {
        font-size: 4.313rem;
        color: #fff;
        padding: 1.6rem 2.4rem;
        display: inline-block;
      }

      .start-process {
        background-color: #d44e4b;
      }

      .finish-order {
        background-color: #8fc31f;
      }

      .dial {
        background-color: #f8b551;
      }

      .salary {
        font-size: 3.333rem;
      }
    }

    .hasOper {
      top: 10%;
    }

    .noOper {
      margin-top: -2.8rem;
    }

    .detail-link {
      position: absolute;
      top: 50%;
      margin-top: -5.3rem;
      right: 6rem;
      padding: 2rem 4.2rem;
      border: 2px solid #ff9000;
    }
  }

  .resolved .status {
    @media screen and (max-width: 320px) {
      top: 23%;
    }

    @media screen and (min-width: 320px) {
      top: 28%;
    }
  }

  .link-center {
    position: fixed;
    left: 0;
    bottom: 4.2rem;
    width: 100%;
    .text {
      width: 91.02%;
      margin: 0 auto;
      border-radius: 5px;
      background: #ff9000;
      line-height: 10.6rem;
      color: #fff;
      font-size: 5.833rem;
      text-align: center;
      display: block;
    }
  }
}
