<div class="as-my-orders-page container">
  <bb-header title="E棒棒-我的订单"></bb-header>
  <div class="bb-content">
    <div class="tabs">
      <div class="tab" ng-class="{true: 'active', false: ''}[unresolved]" ng-click="selectTab('unresolved')">未完成</div>
      <div class="tab" ng-class="{true: 'active', false: ''}[latest]" ng-click="selectTab('latest')">最新订单</div>
      <div class="tab" ng-class="{true: 'active', false: ''}[resolved]" ng-click="selectTab('resolved')">已完成</div>
    </div>
    <div ui-view="unresolved" ng-show="unresolved"></div>
    <div ui-view="latest" ng-show="latest"></div>
    <div ui-view="resolved" class="resolved" ng-show="resolved"></div>
  </div>
</div>
