<div class="order-item" ng-repeat="order in latestOrders">
    <div>
        <div class="theme">{{order.theme}}</div>
        <div class="detail">
            <div class="place">{{order.departure | truncateStr:'4'}}-{{order.arrival | truncateStr:'4'}}</div>
            <div class="goods">{{order.goods | truncateStr:'9'}}</div>
        </div>
    </div>
    <div class="detail-link" ui-sref="asLatestOrderDetail({orderId:order.orderId})">详情</div>
</div>
<div ng-if="!latestOrders" class="no-data">未查询到相应的记录</div>
