<div class="order-item" ng-repeat="order in unresolvedOrders">
    <div class="link" ui-sref="asUnresolvedOrderDetail({orderId:order.orderId})">
        <div class="theme">{{order.theme}}</div>
        <div class="detail">
            <div class="place">{{order.departure | truncateStr:'4'}}-{{order.arrival | truncateStr:'4'}}</div>
            <div class="date-title">{{order.orderDate.title}}</div>
            <div class="date-text">{{order.orderDate.time}}</div>
        </div>
    </div>
    <div class="status" ng-class="{true: 'hasOper', false: 'noOper'}[!!order.oper]">
        <div class="text">{{order.status.text}}</div>
        <a class="dial" ng-if="order.user" href="tel:{{order.user.phone}}">联系客户</a>
        <div class="oper" ng-if="order.oper" ng-click="order.oper.fn(order.orderId)" ng-class="order.oper.bgColorClass">
            {{order.oper.text}}
        </div>
    </div>
</div>
<div ng-if="!unresolvedOrders" class="no-data">未查询到相应的记录</div>
