<div class="as-order-detail-page as-my-order-detail-page look-demand-page container">
  <bb-header title="E棒棒-找棒棒"></bb-header>
  <div class="bb-content">
    <form name="demandFrm">
      <div class="content">
        <div class="field">
          <div class="left">服务点 : </div>
          <div class="rest three">
            <input required ng-trim="true" ng-model="orderDetail.servicePlace"/>
          </div>
          <div class="clear"></div>
        </div>
        <div class="field">
          <div class="left">目的地 : </div>
          <div class="rest three">
            <input required ng-trim="true" ng-model="orderDetail.destination"/>
          </div>
          <div class="clear"></div>
        </div>
        <div class="field">
          <div class="left">棒棒级别 : </div>
          <div class="rest four">
            <select required ng-model="orderDetail.bbLevel" ng-options="bbLevel.name for bbLevel in bbLevelOptions">
              <option value="">选择级别</option>
            </select>
          </div>
          <div class="clear"></div>
          <div class="comment">*该选项为顾客意向选择，并不影响你接单。</div>
        </div>
        <div class="request">
          <div class="title">需求 : </div>
          <div class="textarea-c">
            <textarea required ng-model="orderDetail.demand">{{orderDetail.demand}}</textarea>
          </div>
        </div>
        <div class="service-time">
          <div class="time">
            <span class="title">预约时间 : </span>
            <span class="start">
              <input required type="time" ng-model="orderDetail.serviceTime.start"/>
              <input class="text" placeholder="开始时间" value="{{orderDetail.serviceTime.start | dateFormat:'hm'}}">
            </span>
            ~
            <span class="end">
              <input required type="time" ng-model="orderDetail.serviceTime.end"/>
              <input class="text" placeholder="结束时间" value="{{orderDetail.serviceTime.end | dateFormat:'hm'}}">
            </span>
          </div>
          <div class="comment">*这是顾客预约时间和要求完成订单时间，请根据实际情况接单，以避免无法完成订单。</div>
        </div>
        <div class="field">
          <div class="left">预计佣金 : </div>
          <div class="rest four">
            <input ng-pattern="/\d+/" required ng-model="orderDetail.salary"/>
          </div>
        </div>
      </div>
      <div class="subscribe">
        <span class="text" ng-click="subscribe()" ng-class="">确认预约</span>
      </div>
    </form>
  </div>
</div>