.evaluation-success-page {
  .bb-content {
    text-align: center;
  }

  .title {
    margin-top: 39.6rem;
    font-size: 6.773rem;
    font-weight: bold;
  }

  .comment {
    margin-top: 6.6rem;
    font-size: 5.212rem;
  }

  .oper {
    margin-top: 10.4rem;
    font-size: 6.438rem;

    a {
      background: #fff;
      border: 3px solid #ff9000;
      width: 29.7rem;
      line-height: 12.4rem;
      color: #ff9000;
      display: inline-block;
    }
  }

  .back {
    margin-left: 3.6rem;
  }
}
