.login-page {
  .bb-content {
    text-align: center;
    padding-top: 3.8rem;
  }

  .field {
    background: inherit;
    width: 100%;
    margin-top: 5rem;
  }

  .left {
    line-height: 10rem;
    font-size: 5.482rem;
  }

  .rest {
    margin: 0 2rem 0 27rem;
  }

  input {
    background: inherit;
    font-size: 5.032rem;
    height: 10rem;
    border: 0.5rem solid #ff9000;
    text-indent: 3rem;
    width: 100%;
    color: #fff;
  }

  .comment {
    margin: 2rem 1rem 0 0;
    text-align: right;
    font-size: 3.333rem;
  }

  .pass-btn {
    text-align: center;
    font-size: 4.493rem;
    color: #ff9000;
    padding: 2.4rem 0rem;
    background: #d2d2d2;
    width: 41rem;

    position: absolute;
    top: 20rem;
    right: 1rem;
  }

  .password {
    position: relative;
  }

  @media screen and (min-width: 720px){
    .login-btn {
      margin-top: 80rem;
    }
  }

  @media screen and (max-width: 720px){
    .login-btn {
      margin-top: 45rem;
    }
  }

  .login-btn {
    font-size: 5.833rem;
    background: #ff9000;
    padding: 2.4rem 30rem;
    border-radius: 6px;
    font-weight: bolder;
  }
}
