<div class="personal-center-page container">
  <bb-header title="E棒棒-{{pageTitle}}"></bb-header>
  <div class="bb-content">
    <div class="user-info row item-bg">
      <div class="photo left"><img src="{{user.avatar}}"></div>
      <div class="detail left">
        <div class="detail-wz">
          <span class="name">{{user.name}}</span>
          <span ng-if="user.verified" class="validation">已验证</span>
        </div>
        <div ng-if="isBangBang" class="grade">棒棒等级 : {{user.level.name}}</div>
      </div>
      <a ui-sref="personalEdit"><div class="setting"></div></a>
      <div class="clear"></div>
    </div>
    <div ng-switch="source">
      <div class="order row item-bg">
        <div ng-switch-when="as">
          <div class="title" ui-sref="asMyOrders"><span class="arrow-right"></span>我的订单</div>
        </div>
        <div ng-switch-when="look">
          <div class="title" ui-sref="lookMyOrders"><span class="arrow-right"></span>我的订单</div>
        </div>
      </div>
      <div class="exclude-order item-bg">
        <div class="row border-bottom">
          <a ui-sref="myWallet">
            <div class="wallet"><span class="arrow-right"></span>我的钱包</div>
          </a>
        </div>
        <div class="row border-bottom">
          <a ui-sref="myComment">
            <div class="comment"><span class="arrow-right"></span>我的评论</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
