<div class="personal-center-page container">
  <bb-header title="E棒棒-当棒棒"></bb-header>
  <div class="bb-content">
    <div class="user-info row item-bg">
      <div class="photo left"><img src="../../../assets/images/personal/photo.jpg"></div>
      <div class="detail left">
        <div class="detail-wz">
          <span class="name">A先生</span>
          <span class="validation">已验证</span>
        </div>
        <div class="grade">棒棒等级 : 金棒棒</div>
      </div>
      <a ui-sref="personalEdit"><div class="setting"></div></a>
      <div class="clear"></div>
    </div>
    <div class="order row item-bg">
      <div class="title"><span class="arrow-right"></span>我的订单</div>
    </div>
    <div class="exclude-order item-bg">
      <div class="row border-bottom">
        <a ui-sref="myWallet">
          <div class="wallet">
            <span class="arrow-right"></span>
            我的钱包
          </div>
        </a>
      </div>
      <div class="row border-bottom">
        <div class="comment"><span class="arrow-right"></span>我的评论</div>
      </div>
    </div>
  </div>
</div>
