<div class="personal-edit-page container">
  <bb-header title="E棒棒-{{pageTitle}}"></bb-header>
  <form name="personalEditFrm">
    <div class="bb-content">
      <div class="item-bg row photo">
        <span class="left">头像</span>
        <span class="right"><img ng-src="{{user.avatar}}"></span>
        <span class="arrow-right-sm"></span>
        <file-read file-data="user.avatar" file-model="user.photoUrl"></file-read>
        <div class="clear"></div>
      </div>
      <div class="item-bg exclude-photo">
        <div class="row phone border-bottom">
          <span class="left">手机号</span>
          <div class="right">
            <input type="text" name="userPhone" ng-model="user.phone" required maxlength="11"></div>
          <div class="clear"></div>
        </div>
        <div ng-if="isBangBang" class="row area border-bottom">
          <div class="input-c">
            <div class="select-c row">
              <select ng-model="user.area" ng-options="area.id as area.name for area in areas">
                <option value="">选择区域</option>
              </select>
              <span class="arrow-down-sm"></span>
            </div>
            <div class="select-c row">
              <select ng-model="user.subArea" ng-options="subArea.id as subArea.name for subArea in subAreas">
                <option value="">选择区域</option>
              </select>
              <span class="arrow-down-sm"></span>
            </div>
          </div>
        </div>
        <div class="oper">
          <div class="btn">
            <a class="save" ng-click="saveInfo()">保存</a>
            <a ui-sref="personalCenter" class="back">返回</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
