@import "../myOrders/detail";

.as-latest-order-detail-page {
  .grab-order {
    outline: none;
    display: block;
    text-align: center;
    font-size: 6.684rem;
    margin: 0 4.8rem 5rem;
    background-color: #ff9000;
    padding: 2.4rem 0;
    font-weight: bold;
    border-radius: 5px;
  }
}
