.coupon-usage-page {
  .bb-content {
    text-align: center;
    padding: 12.1rem 7.7rem 0;
  }

  .title {
    font-size: 5.833rem;
    font-weight: bold;
  }

  .comment {
    text-align: left;
    margin-top: 9rem;
    font-size: 3.333rem;
    line-height: 10rem;
  }

  .back {
    margin: 50rem auto 0;
    text-align: center;
    .text {
      width: 29.7rem;
      line-height: 12.4rem;
      font-size: 6.438rem;
      color: #ff9000;
      background-color: #fff;
      border: 3px solid #ff9000;
      border-radius: 3px;
      display: inline-block;
    }
  }
}
