@import "layout";

/*
  @author: chunzj
  @description: defining some common style
*/

html {
  font-size: 62.5%;
}

body {
  background: url("../../../assets/images/shared/bg.png") no-repeat;
  background-size: 100%;
}

.border-top {
  background-image:linear-gradient(180deg, #FFF 51%, transparent 51%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center top;
}

.border-bottom {
  background-image:linear-gradient(0deg, transparent 50%, #FFF 50%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/*top and bottom*/
.border-tb {
  background-image:linear-gradient(180deg, #FFF 51%, transparent 51%),
  linear-gradient(0deg, transparent 50%, #FFF 50%);
  background-size: 100% 2px, 100% 2px;
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
}

.border {
  -webkit-box-shadow: 0 0 1px 0 #FFF;
  box-shadow: 0 0 1px 0 #FFF;
}

.bb-content {
  padding: 9.2rem 5.5rem 6.2rem;
}

.item-bg {
  @extend %item-bg;
}

.row {
  line-height: 13.4rem;
  position: relative;
  .arrow-right {
    display: inline-block;
    width: 5.3rem;
    height: 6.7rem;
    background: url("../../../assets/images/personal/right-arrow.png") no-repeat 0 0/5.3rem auto;
    position: absolute;
    right: 5.7rem;
    top: 50%;
    margin-top: -3.35rem;
  }
}

.left {
  @extend %fl;
}

.right {
  @extend %fr;
}

.clear {
  @extend %clearfix;
}
