@import "layout";

/*
  @author: chunzj
  @description: defining some common style
*/

html {
  font-size: 62.5%;
}

body {
  background: url("../../../assets/images/shared/bg.png") no-repeat;
  background-size: 100%;
  color: #fff;
}

input, select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border: none;
}

.border-top {
  background-image:linear-gradient(180deg, #FFF 51%, transparent 51%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center top;
}

.border-bottom {
  background-image:linear-gradient(0deg, transparent 50%, #FFF 50%);
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

/*top and bottom*/
.border-tb {
  background-image:linear-gradient(180deg, #FFF 51%, transparent 51%),
  linear-gradient(0deg, transparent 50%, #FFF 50%);
  background-size: 100% 2px, 100% 2px;
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
}

.border {
  -webkit-box-shadow: 0 0 1px 0 #FFF;
  box-shadow: 0 0 1px 0 #FFF;
}

.bb-content {
  padding: 9.2rem 5.5rem 6.2rem;
}

.item-bg {
  @extend %item-bg;
}

.row {
  line-height: 13.4rem;
  position: relative;
  .arrow-right {
    @include arrow-style(5.3rem, 6.7rem, 5.7rem, "../../../assets/images/shared/right-arrow.png");
  }

  .arrow-right-sm {
    @include arrow-style(3.3rem, 5.2rem, 2.2rem, "../../../assets/images/shared/right-arrow-small.png");
  }

  .arrow-down-sm {
    @include arrow-style(3.3rem, 5.2rem, 2.2rem, "../../../assets/images/shared/right-arrow-small.png");
    transform: rotate(90deg);
  }
}

.left {
  @extend %fl;
}

.right {
  @extend %fr;
}

.clear {
  @extend %clearfix;
}

.hide {
  display: none;
}
