.my-comment-page {
  .bb-content {
    font-size: 5rem;
    padding: 9.6rem 5.4rem 0;
  }

  .top {
    padding-right: 5rem;
    .title {
      background: url("../assets/images/personal/coment.png") no-repeat;
      background-size: 7.1rem auto;
      background-position: left center;
      margin-left: 6.5rem;
    }

    .text {
      margin-left: 12.5rem;
      font-size: 5.268rem;
      font-weight: bold;
    }

    .level {
      color: #c8c8c8;
    }

    .right {
      padding-top: 1.4rem;
      line-height: 5.6rem;
      font-size: 4rem;
    }
  }

  .comment-c {
    margin-top: 2rem;
    padding: 0 4.8rem 12.5rem 5.2rem;

    .comment-item {
      padding: 3.2rem 0 2.6rem 4.8rem;
    }

    ul {
      display: inline-block;
    }

    ul:not(:first-child) {
      margin-left: -7px;
    }

    .star {
      display: inline-block;
      list-style: none;
      width: 4.8rem;
      height: 4.4rem;
      background-repeat: no-repeat;
      background-size: 4.8rem auto;
    }

    .yellow-star {
      background-image: url("../assets/images/personal/star_selected.png");
    }

    .default-star {
      background-image: url("../assets/images/personal/star_unselected.png");
    }

    .date {
      font-size: 3.505rem;
      color: #868686;
    }

    .point {
      text-align: right;
      font-size: 4.493rem;
    }

    .name {
      font-size: 4.493rem;
      color: #7c7c7c;
      margin-left: 1.8rem;
    }

    .no-point {
      margin-top: 2.2rem;
    }
  }

  .back {
    background: #b3d465;
    margin-top: 3rem;
    line-height: 11.8rem;
    font-size: 5.615rem;
    text-align: center;
  }
}
